<footer id="contacto" class="footer-section">
  <div class="footer-container">
    
    <!-- Bloque de Identidad -->
    <div class="footer-brand">
      <h2 class="footer-logo">HYPE<span>FRIES</span></h2>
      <p class="brand-mission text-white">HYPE FRIES <span class="highlight">SOCIAL CLUB</span>.</p>
    </div>

    <!-- Bloque de Info y Ubicación -->
    <div class="footer-info">
      <h3 class="text-white">Visítanos:</h3>
      <p class="text-white">Fanny Anitua, Los Ángeles, 34076 Durango. Dgo.</p>
      <p class="text-white"><strong>Horarios:</strong> Lunes a Domingo: 6:00 PM - 11:00 PM</p>
      
      <a href="https://maps.app.goo.gl/9KYZjRUcj1g7ZRb97" target="_blank" class="btn-maps">Cómo llegar</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 HYPE FRIES. Todos los derechos reservados.</p>
    
    <!-- Nueva sección del desarrollador -->
    <div class="developer-profile">
      <a href="https://www.instagram.com/_jose_sosa___/" target="_blank" class="dev-link">
        <img src="../../../assets/images/perfil-del-desarrollador.jpg" alt="José Eduardo Serrano Sosa" class="dev-photo">
        <div class="dev-info">
          <span class="dev-role">Desarrollador web y programador</span>
          <span class="dev-handle">@_jose_sosa__</span>
        </div>
      </a>
    </div>
  </div>
</footer>