<footer id="contacto" class="footer-section">
  <div class="footer-container">
    
    <div class="footer-brand">
      <h2 class="footer-logo">HYPE<span>FRIES</span></h2>
      <p class="brand-mission text-white">HYPE FRIES <span class="highlight">SOCIAL CLUB</span>.</p>
    </div>

    <div class="footer-info">
      <h3 class="text-white">Visítanos:</h3>
      <p class="text-white">Fanny Anitua, Los Ángeles, 34076 Durango. Dgo.</p>
      <p class="text-white"><strong>Horarios:</strong> Lunes a Domingo: 6:00 PM - 11:00 PM</p>
      
      <a href="https://maps.app.goo.gl/9KYZjRUcj1g7ZRb97" target="_blank" class="btn-maps">Cómo llegar</a>
    </div>

    </div>

  <div class="footer-bottom">
    <p>© 2026 HYPE FRIES. Todos los derechos reservados.</p>
    <p class="developer-credit">Desarrollador web y diseñador de interfaces: <span>José Eduardo Serrano Sosa</span></p>
  </div>
</footer>