<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
  <div class="navbar-container">
    <a href="#hero" class="navbar-logo">
      HYPE<span>FRIES</span>
    </a>
    
    <ul class="navbar-menu">
      <li><a href="#hero" class="nav-link">Inicio</a></li>
      <li><a href="#menu" class="nav-link">Menú</a></li>
      <li><a href="#social" class="nav-link">Nosotros</a></li>
      <li><a href="#galeria" class="nav-link">Galería</a></li>
      <li><a href="#contacto" class="nav-link">Contacto</a></li>
    </ul>

    <div class="navbar-actions">
      <a href="https://web.didiglobal.com/mx/food/durango-dur/the-hype-fries-sucparque/5764607748592109135/" 
         target="_blank" 
         class="btn-order">¡Pide Ahora!</a>
    </div>
  </div>
</nav>